body {
  margin: 0;
  line-height: 1.5;
  text-transform: uppercase; 
  background-color: lightblue;
}   
#center{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) 
  

}

#fdm { 
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
}

#fancy{
  font-size: xx-small;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

#heaven{
  font-size: xxx-large;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white; 
}

#quote{
  font-size: xx-small;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  border: solid white;
  width:fit-content;
  margin: auto;
   
}